<div class="container">
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="userform">
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <label>Username</label>
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="4" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">Username required</p>
        <p *ngIf="usernameField.errors.minlength" class="validation">Username is too short</p>
      </div>
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
      <label>Password</label>
      <input type="text" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="4" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">Password required</p>
        <p *ngIf="usernameField.errors.minlength" class="validation">Password is too short</p>
      </div>
    </div>
  
    <div class="field-submit">
      <button type="submit" [disabled]="processing" class="btn-form">Login</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">There are errors in the form, please review the fields</p>
      </div>
    </div>
    <div class="reminder">
      <p>If you are not registered already, <a href="/signup">Sign up here</a></p>
    </div>
  </form>
</div>