<h2>Form works!</h2>
<form (ngSubmit)="submitForm(form)" #form="ngForm">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
    <label>username</label>
    <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required />

    <label>password</label>
    <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required />

  </div>

  <div class="field submit">
    <button type="submit">Login</button>
  </div>
</form>