.cards-contain{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-padding-start: 3%;
  -webkit-padding-end: 3%;
  margin-top: 0;
}
.card{
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 49%;
  padding: 6px;
  font-size: 20px;
  background-color:rgba(255, 255, 255, 0.3);
  list-style: none;
  margin-top: 3%;
  text-decoration: none;
}

.card-img{
  height: 70%;
  width: 100%;
}

.imgrec{
  height: 100%;
  width: 100%;
}

.card-title{
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-family: 'Lobster';
  font-size: 22px;
}

.desc{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16px;
}