<app-navbar></app-navbar>
<!-- <h4>Email {{ email }}</h4> -->
<div class="container">
  <h2>{{ user.username }}'s Book</h2>
  <ul class="mybook-container">
    <li *ngFor="let recipe of recipes" class="card">
      <div class="card-img">
        <img src="{{recipe.imgUrl}}" class="imgrec">
      </div>
      <div class="card-inform">
        <p class="title">{{recipe.title}}</p>
        <p class="desc">{{recipe.description}}</p>
      </div>
      <div class="button-options">
        <button (click)="put(recipe._id)" class="editbutton">Edit</button>
        <button (click)="delete(recipe._id)" class="delbutton">Delete</button>
      </div>
    </li>
  </ul>
  <div class="btn-add">
    <a href="/new-recipe">Grow My Book!</a>
  </div>
</div>

<app-footer></app-footer>